<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.quantizationapi.dao.mapper.SyUserMapper">

    <select id="getAll" resultType="com.kk.quantizationapi.dao.entity.SyUser">
        select * from sy_user
    </select>

    <insert id="addUser">
        insert into sy_user(user_id,user_name) values(#{userId},#{userName})
    </insert>

</mapper>